{% extends 'base.html.twig' %}

{% block title %}{% trans %}edit_admin_title{% endtrans %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/form.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/user_control.css') }}">
{% endblock %}

{% block body %}
    <div class="center-container">
        <h2>{% trans %}edit_admin_title{% endtrans %}</h2>
        {{ form_start(form, {'attr': {'class': 'form'}}) }}

        <div class="form-group">
            {{ form_label(form.userId) }}
            {{ form_widget(form.userId, {'attr': {'class': 'input-field'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, {'attr': {'class': 'input-field'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.firstName) }}
            {{ form_widget(form.firstName, {'attr': {'class': 'input-field'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.lastName) }}
            {{ form_widget(form.lastName, {'attr': {'class': 'input-field'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.password) }}
            {{ form_widget(form.password, {'attr': {'class': 'input-field'}}) }}
        </div>

        {{ form_end(form, {'attr': {'class': 'button'}}) }}
    </div>
{% endblock %}
