{% extends 'base.html.twig' %}

{% block title %}{% trans %}list_user_title{% endtrans %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/form.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/modal.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/user_control.css') }}">
{% endblock %}

{% block body %}
    <div class="container-list">
        <div class="page-title">
            <h2>{% trans %}list_user_title{% endtrans %}</h2>

            <a href="{{ path('user_control_user_create') }}">
                <button class="create-button create-user-button">{% trans %}create_user_button{% endtrans %}</button>
            </a>
        </div>
        <div class="users">
            <table class="user-table">
                <thead>
                <tr>
                    <th>{% trans %}id_title{% endtrans %}</th>
                    <th>{% trans %}name_title{% endtrans %}</th>
                    <th>{% trans %}email_title{% endtrans %}</th>
                    <th>{% trans %}role_title{% endtrans %}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for user in userList %}
                    <tr class="user-item">
                        <td>{{ user.id }}</td>
                        <td>{{ user.firstName }} {{ user.lastName }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.roles|join(', ') }}</td>
                        <td>
                            <button class="create-button toggle-user {{ true == user.enabled ? 'disabled' : 'enabled' }}"
                                    data-user="{{ user.id }}"
                                    data-disable-title="{% trans %}disable_button{% endtrans %}"
                                    data-enable-title="{% trans %}enable_button{% endtrans %}"
                                    data-enabled="{{ true == user.enabled ? 'true' : 'false' }}">
                                {% if true == user.enabled %}
                                    {% trans %}disable_button{% endtrans %}
                                {% else %}
                                    {% trans %}enable_button{% endtrans %}
                                {% endif %}
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/user') }}
{% endblock %}
