{% extends 'base.html.twig' %}

{% block title %}{% trans %}general_traffic_report_page_title{% endtrans %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/form.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/report.css') }}">
{% endblock %}

{% block body %}
    <div class="full-container">
        <h2>{% trans %}general_sale_report_page_title{% endtrans %}</h2>
        {{ form_start(form, {'attr': {'class': 'form'}}) }}

        <div class="form-row">
            <div class="form-group filter-item">
                {{ form_label(form.dateFrom) }}
                {% if request is defined and request != null %}
                    {{ form_widget(form.dateFrom, {'value': request.getDateFrom().format('Y-m-d')}) }}
                {% else %}
                    {{ form_widget(form.dateFrom) }}
                {% endif %}
                {{ form_errors(form.dateFrom) }}
            </div>

            <div class="form-group filter-item">
                {{ form_label(form.dateTill) }}
                {% if request is defined and request != null %}
                    {{ form_widget(form.dateTill, {'value': request.getDateTill().format('Y-m-d')}) }}
                {% else %}
                    {{ form_widget(form.dateTill) }}
                {% endif %}
                {{ form_errors(form.dateTill) }}
            </div>

            <div class="form-group filter-item">
                {{ form_label(form.product) }}
                {% if request is defined and request != null %}
                    {{ form_widget(form.product, {'value': request.getProduct()}) }}
                {% else %}
                    {{ form_widget(form.product) }}
                {% endif %}
                {{ form_errors(form.product) }}
            </div>

            <div class="form-group filter-item">
                {{ form_label(form.user) }}
                {% if request is defined and request != null %}
                    {{ form_widget(form.user, {'value': request.getUser()}) }}
                {% else %}
                    {{ form_widget(form.user) }}
                {% endif %}
                {{ form_errors(form.user) }}
            </div>

            <div class="right-form-group">
                <button type="submit" class="button">{% trans %}general_traffic_report_button{% endtrans %}</button>
            </div>
        </div>

        {{ form_end(form) }}

        <div class="report-content-container">
            <table class="report-content report-table">
                <thead>
                <tr>
                    <th style="width: 25%">{% trans %}general_sale_report_user_name_column_title{% endtrans %}</th>
                    <th style="width: 25%">{% trans %}general_sale_report_price_title_column_title{% endtrans %}</th>
                    <th style="width: 25%">{% trans %}general_sale_report_product_title_column_title{% endtrans %}</th>
                    <th style="width: 10%">{% trans %}general_sale_report_count_card_column_title{% endtrans %}</th>
                    <th style="width: 15%">{% trans %}general_sale_report_sum_card_column_title{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                    {% for reportItem in reportData %}
                    <tr>
                        <td>{{ reportItem.userName }}</td>
                        <td>{{ reportItem.priceTitle }}</td>
                        <td>{{ reportItem.productTitle }}</td>
                        <td>{{ reportItem.countCard }}</td>
                        <td>{{ reportItem.sumCard }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}
