{% extends 'base.html.twig' %}

{% block title %}{% trans %}create_location_title{% endtrans %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/form.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/location.css') }}">
{% endblock %}


{% block body %}
    <div class="full-container">
        <h2>{% trans %}create_location_title{% endtrans %}</h2>
            <form method="post" action="{{ path('location_create') }}" class="location-create">
            {{ form_row(form._token) }}
            <div class="location-create-main">
                <div class="form-group">
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title, {'attr': {'class': 'input-field'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description, {'attr': {'class': 'input-field'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.enabled) }}
                    {{ form_widget(form.enabled, {'attr': {'class': 'checkbox-field'}}) }}
                </div>
            </div>
            <div class="location-create-main-separator">
            </div>
            <div class="location-create-button-wrapper">
                <button type="button" class="button location-create-button location-add-button" id="add-regular-scheduler">{% trans %}add_regular_scheduler_button{% endtrans %}</button>
            </div>
            <div class="form-group">
                {{ form_label(form.regularSchedulerList) }}
                <div id="regular-schedulers-container">
                    <h3>{% trans %}regular_scheduler_block_title{% endtrans %}</h3><br>
                    <div class="regular-scheduler-item regular-scheduler-item-head">
                        <div>
                            <label>{% trans %}day_number_column_label{% endtrans %}</label>
                        </div>
                        <div>
                            <label>{% trans %}time_from_column_label{% endtrans %}</label>
                        </div>
                        <div>
                            <label>{% trans %}time_till_column_label{% endtrans %}</label>
                        </div>
                        <div>
                            <label>{% trans %}date_from_column_label{% endtrans %}</label>
                        </div>
                        <div>
                            <label>{% trans %}date_till_column_label{% endtrans %}</label>
                        </div>
                    </div>
                    {{ form_widget(form.regularSchedulerList, {'attr': {'class': 'regular-scheduler-item'}}) }}
                </div>
            </div>

            <div class="location-create-button-wrapper">
                <button type="button" class="button location-create-button location-add-button" id="add-vacation-scheduler">{% trans %}add_vacation_scheduler_button{% endtrans %}</button>
            </div>
            <div class="form-group">
                {{ form_label(form.vacationSchedulerList) }}
                <div id="vacation-schedulers-container">
                    <h3>{% trans %}vacation_scheduler_block_title{% endtrans %}</h3><br>
                    <div class="vacation-scheduler-item vacation-scheduler-item-head">
                        <div>
                            <label>{% trans %}day_number_column_label{% endtrans %}</label>
                        </div>
                        <div>
                            <label>{% trans %}title_column_label{% endtrans %}</label>
                        </div>
                        <div>
                            <label>{% trans %}date_from_column_label{% endtrans %}</label>
                        </div>
                        <div>
                            <label>{% trans %}date_till_column_label{% endtrans %}</label>
                        </div>
                    </div>
                    {{ form_widget(form.vacationSchedulerList, {'attr': {'class': 'vacation-scheduler-item'}}) }}
                </div>
            </div>

            <div class="location-create-button-wrapper">
                <button type="button" class="button location-create-button location-add-button" id="add-special-scheduler">{% trans %}add_special_scheduler_button{% endtrans %}</button>
            </div>
            <div class="form-group">
                {{ form_label(form.specialSchedulerList) }}
                <div id="special-schedulers-container">
                    <h3>{% trans %}special_scheduler_block_title{% endtrans %}</h3><br>
                    <div class="special-scheduler-item special-scheduler-item-head">
                        <div>
                            <label>{% trans %}time_from_column_label{% endtrans %}</label>
                        </div>
                        <div>
                            <label>{% trans %}time_till_column_label{% endtrans %}</label>
                        </div>
                        <div>
                            <label>{% trans %}date_from_column_label{% endtrans %}</label>
                        </div>
                        <div>
                            <label>{% trans %}date_till_column_label{% endtrans %}</label>
                        </div>
                    </div>
                    {{ form_widget(form.specialSchedulerList, {'attr': {'class': 'special-scheduler-item'}}) }}
                </div>
            </div>

            <div class="location-create-button-wrapper">
                <button type="submit" class="button location-create-button">{% trans %}create_location_button{% endtrans %}</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script defer>
        const type = 'create';
    </script>
    {{ parent() }}
    {{ encore_entry_script_tags('js/location') }}
{% endblock %}
