{% extends 'base.html.twig' %}

{% block title %}Create Location{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/form.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/location.css') }}">
{% endblock %}


{% block body %}
    <div class="full-container">
        <h2>Create Location</h2>
        <form method="post" action="{{ path('location_create') }}" class="location-create">
            {{ form_row(form._token) }}
            <div class="location-create-main">
                <div class="form-group">
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title, {'attr': {'class': 'input-field'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description, {'attr': {'class': 'input-field'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.enabled) }}
                    {{ form_widget(form.enabled, {'attr': {'class': 'checkbox-field'}}) }}
                </div>
            </div>
            <div class="location-create-main-separator">
            </div>
            <div class="location-create-button-wrapper">
                <button type="button" class="button location-create-button location-add-button" id="add-regular-scheduler">Add Regular Scheduler</button>
            </div>
            <div class="form-group">
                {{ form_label(form.regularSchedulerList) }}
                <div id="regular-schedulers-container">
                    <h3>Regular scheduler list</h3><br>
                    <div class="regular-scheduler-item regular-scheduler-item-head">
                        <div>
                            <label>Day number</label>
                        </div>
                        <div>
                            <label>Time from</label>
                        </div>
                        <div>
                            <label>Time till</label>
                        </div>
                        <div>
                            <label>Date from</label>
                        </div>
                        <div>
                            <label>Date till</label>
                        </div>
                    </div>
                    {{ form_widget(form.regularSchedulerList, {'attr': {'class': 'regular-scheduler-item'}}) }}
                </div>
            </div>

            <div class="location-create-button-wrapper">
                <button type="button" class="button location-create-button location-add-button" id="add-vacation-scheduler">Add Vacation Scheduler</button>
            </div>
            <div class="form-group">
                {{ form_label(form.vacationSchedulerList) }}
                <div id="vacation-schedulers-container">
                    <h3>Vacation scheduler list</h3><br>
                    <div class="vacation-scheduler-item vacation-scheduler-item-head">
                        <div>
                            <label>Day number</label>
                        </div>
                        <div>
                            <label>Title</label>
                        </div>
                        <div>
                            <label>Date from</label>
                        </div>
                        <div>
                            <label>Date till</label>
                        </div>
                    </div>
                    {{ form_widget(form.vacationSchedulerList, {'attr': {'class': 'vacation-scheduler-item'}}) }}
                </div>
            </div>

            <div class="location-create-button-wrapper">
                <button type="button" class="button location-create-button location-add-button" id="add-special-scheduler">Add Special Scheduler</button>
            </div>
            <div class="form-group">
                {{ form_label(form.specialSchedulerList) }}
                <div id="special-schedulers-container">
                    <h3>Special scheduler list</h3><br>
                    <div class="special-scheduler-item special-scheduler-item-head">
                        <div>
                            <label>Time from</label>
                        </div>
                        <div>
                            <label>Time till</label>
                        </div>
                        <div>
                            <label>Date from</label>
                        </div>
                        <div>
                            <label>Date till</label>
                        </div>
                    </div>
                    {{ form_widget(form.specialSchedulerList, {'attr': {'class': 'special-scheduler-item'}}) }}
                </div>
            </div>

            <div class="location-create-button-wrapper">
                <button type="submit" class="button location-create-button">Create</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/location') }}
{% endblock %}
