{% extends 'base.html.twig' %}

{% block title %}{% trans %}location_list_title{% endtrans %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/location.css') }}">
{% endblock %}

{% block body %}
    <div class="container-list">
        <div class="page-title">
            <h2>{% trans %}location_list_title{% endtrans %}</h2>

            {% if null != app.user and (Role.RoleAdmin.value in app.user.roles or Action.LocationCreate.value in app.user.accessList) %}
                <a href="{{ path('location_create') }}">
                    <button class="create-button create-location-button">{% trans %}location_create_button{% endtrans %}</button>
                </a>
            {% endif %}
        </div>

        <div class="location-grid location-list">
            {% if locationList is not empty %}
                {% for location in locationList %}
                    <div class="location-item">
                        <div class="location-item-grid">
                            <div class="location-info">
                                <h3 class="title">{{ location.title }}</h3>
                                <p>
                                    {% if null != app.user and (Role.RoleAdmin.value in app.user.roles or Action.LocationActivate.value in app.user.accessList) %}
                                        <button class="create-button toggle-location {{ true == location.enabled ? 'disabled' : 'enabled' }}"
                                                data-location="{{ location.id }}"
                                                data-disable-title="{% trans %}disable_button{% endtrans %}"
                                                data-enable-title="{% trans %}enable_button{% endtrans %}"
                                                data-enabled="{{ true == location.enabled ? 'true' : 'false' }}">
                                            {% if true == location.enabled %}
                                                {% trans %}disable_button{% endtrans %}
                                            {% else %}
                                                {% trans %}enable_button{% endtrans %}
                                            {% endif %}
                                        </button>
                                    {% endif %}
                                </p>
                                <p>
                                    {% if null != app.user and (Role.RoleAdmin.value in app.user.roles or Action.LocationEdit.value in app.user.accessList) %}
                                        <a href="{{ path('location_edit', {locationId: location.id}) }}">
                                            <button class="info-button">{% trans %}location_edit_button{% endtrans %}</button>
                                        </a>
                                    {% endif %}
                                </p>
                                <p class="description">{{ location.description }}</p>
                                <p class="status">{% if location.enabled %}{% trans %}enable_status_label{% endtrans %}{% else %}{% trans %}disable_status_label{% endtrans %}{% endif %}</p>
                                <p>
                                    {% if null != app.user and (Role.RoleAdmin.value in app.user.roles or Action.EntranceControl.value in app.user.accessList) %}
                                        <a href="{{ path('barcode_check', {locationId: location.id}) }}">
                                            <button class="info-button scan-button">{% trans %}location_scan_barcode_action_button{% endtrans %}</button>
                                        </a>
                                    {% endif %}
                                </p>
                                <p>
                                    {% if null != app.user and (Role.RoleAdmin.value in app.user.roles or Action.EntranceControl.value in app.user.accessList) %}
                                        <a href="{{ path('report_visit_traffic_report', {location: location.id}) }}">
                                            <button class="info-button scan-button">{% trans %}location_traffic_report_action_button{% endtrans %}</button>
                                        </a>
                                    {% endif %}
                                </p>
                            </div>
                            <div class="work-graph">
                                <h4>{% trans %}location_detail_regular_scheduler_block{% endtrans %}</h4>
                                <table>
                                <tbody>
                                {% for regularSchedulerItem in location.regularSchedulerList %}
                                    {% if regularSchedulerItem.enabled == true %}
                                    <tr>
                                        <td class="date-range">{{ regularSchedulerItem.dateFrom|date("Y-m-d") }} - {{ regularSchedulerItem.dateTill|date("Y-m-d") }}</td>
                                        <td class="day-range">{{ regularSchedulerItem.dayNumber | day_name }}</td>
                                        <td class="time-range">{{ regularSchedulerItem.timeFrom|date("H:i") }} - {{ regularSchedulerItem.timeTill|date("H:i") }}</td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                                </table>
                                <div class="divider-horizontal"></div>
                                <h4>{% trans %}location_detail_special_scheduler_block{% endtrans %}</h4>
                                <table>
                                <tbody>
                                {% for specialSchedulerItem in location.specialSchedulerList %}
                                    {% if specialSchedulerItem.enabled == true %}
                                    <tr>
                                        <td class="date-range">{{ specialSchedulerItem.dateFrom|date("Y-m-d") }} - {{ specialSchedulerItem.dateTill|date("Y-m-d") }}</td>
                                        <td class="time-range">{{ specialSchedulerItem.timeFrom|date("H:i") }} - {{ specialSchedulerItem.timeTill|date("H:i") }}</td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                                </table>
                                <div class="divider-horizontal"></div>
                                <h4>{% trans %}location_detail_vacation_scheduler_block{% endtrans %}</h4>
                                <table>
                                <tbody>
                                {% for vacationSchedulerItem in location.vacationSchedulerList %}
                                    {% if vacationSchedulerItem.enabled == true %}
                                    <tr>
                                        <td class="range-title">{{ vacationSchedulerItem.title }} - </td>
                                        <td class="date-range">{{ vacationSchedulerItem.dateFrom|date("Y-m-d") }} - {{ vacationSchedulerItem.dateTill|date("Y-m-d") }}</td>
                                        <td class="day-range">{{ vacationSchedulerItem.dayNumber | day_name }}</td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                                </table>
                                <div class="divider-horizontal"></div>
                            </div>
                        </div>
                    </div>
                    {% if not loop.last %}
                        <div class="divider-horizontal"></div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>{% trans %}location_list_empty_title{% endtrans %}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/location') }}
{% endblock %}
