{% extends 'base.html.twig' %}

{% block title %}{% trans %}card_create_title{% endtrans %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/form.css') }}">
{% endblock %}
{% block body %}
    <div class="center-container">
        <h2>{% trans %}card_create_by_product_title{% endtrans %} {{ product.title }}</h2>

        {{ form_start(form, {'attr': {'class': 'form'}}) }}

        <div class="form-group">
            {{ form_label(form.price) }}
            {{ form_widget(form.price, {'attr': {'class': 'input-field'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.product) }}
            {{ form_widget(form.product) }}
        </div>

        {{ form_end(form, {'attr': {'class': 'button'}}) }}
    </div>
{% endblock %}
