{% extends 'base.html.twig' %}

{% block title %}{% trans %}product_create_title{% endtrans %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/form.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/product.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/select2.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="center-container">
        <h2>{% trans %}product_create_title{% endtrans %}</h2>

        {{ form_start(form, {'attr': {'class': 'form'}}) }}

        <div class="form-group">
            {{ form_label(form.title) }}
            {{ form_widget(form.title, {'attr': {'class': 'input-field'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.durationDays) }}
            {{ form_widget(form.durationDays, {'attr': {'class': 'input-field'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.countUsage) }}
            {{ form_widget(form.countUsage, {'attr': {'class': 'input-field'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.type) }}
            {{ form_widget(form.type, {'attr': {'class': 'input-field'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_widget(form.description, {'attr': {'class': 'textarea'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.locationList) }}
            {{ form_widget(form.locationList, {'attr': {'class': 'input-field multiselect', 'multiple': 'multiple'}}) }}
        </div>

        {{ form_end(form, {'attr': {'class': 'create-button'}}) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/product') }}
{% endblock %}