{% extends 'base.html.twig' %}

{% block title %}Create Product{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/form.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/product.css') }}">
{% endblock %}

{% block body %}
    <div class="center-container">
        <h2>Create Product</h2>

        {{ form_start(form, {'attr': {'class': 'form'}}) }}

        <div class="form-group">
            {{ form_label(form.title) }}
            {{ form_widget(form.title, {'attr': {'class': 'input-field'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.durationDays) }}
            {{ form_widget(form.durationDays, {'attr': {'class': 'input-field'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.countUsage) }}
            {{ form_widget(form.countUsage, {'attr': {'class': 'input-field'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.type) }}
            {{ form_widget(form.type, {'attr': {'class': 'input-field'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_widget(form.description, {'attr': {'class': 'textarea'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.locationList) }}
            {{ form_widget(form.locationList, {'attr': {'class': 'input-field', 'multiple': 'multiple'}}) }}
        </div>

        {{ form_end(form, {'attr': {'class': 'btn'}}) }}
    </div>
{% endblock %}
