{% extends 'base.html.twig' %}

{% block title %}{% trans %}product_create_page_title{% endtrans %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/form.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/modal.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/product.css') }}">
{% endblock %}

{% block body %}

    <div class="container-list">

        <div class="page-title">
            <h2>{% trans %}product_create_page_title{% endtrans %}</h2>
            {% if null != app.user and (Role.RoleAdmin.value in app.user.roles or Action.ProductCreate.value in app.user.accessList) %}
                <a href="{{ path('product_create') }}">
                    <button class="create-button create-product-button">{% trans %}product_create_page_title{% endtrans %}</button>
                </a>
            {% endif %}
        </div>

        <div class="product-grid">
            {% if productList is not empty %}
                {% for product in productList %}
                    <div class="product-item" data-product-id="{{ product.id }}">
                        <div class="product-item-head">
                            {% if null != app.user and (Role.RoleAdmin.value in app.user.roles or Action.Sell.value in app.user.accessList) %}
                                <a href="{{ path('card_create', {productId: product.id}) }}"><button class="sell-button">{% trans %}product_list_sell_button{% endtrans %}</button></a>
                            {% endif %}
                            <h3 class="title">{{ product.title }}</h3>
                            <p class="description">{{ product.description }}</p>
                            <p class="duration-days">{{ product.durationDays }} {% trans %}product_list_days_label{% endtrans %}</p>
                            <p class="count-usage">{{ product.countUsage }} - {% trans %}product_list_max_count_usage_label{% endtrans %}</p>
                        </div>

                        <div class="prices">
                            <table>
                                <thead>
                                <tr>
                                    <th colspan="1" width="50%">
                                        <h4>{% trans %}product_list_prices_title{% endtrans %}</h4>
                                    </th>
                                    <th colspan="3" width="50%">
                                        {% if null != app.user and (Role.RoleAdmin.value in app.user.roles or Action.ProductCreate.value in app.user.accessList) %}
                                            <button class="create-button create-price-button" data-product-id="{{ product.id }}">{% trans %}product_create_price_title{% endtrans %}</button>
                                        {% endif %}
                                    </th>
                                </tr>
                                </thead>
                                <tbody class="price-list hidden">
                                    {% for price in product.priceList %}
                                        <tr>
                                            <td width="30%">{{ price.title }}</td>
                                            <td width="20%">
                                                <span class="price-created-at">{{ price.createdAt|date("Y-m-d") }}</span>
                                            </td>
                                            <td width="30%">{{ price.amountInUAH }} {% trans %}product_list_default_currency{% endtrans %}</td>
                                            <td width="20%">
                                                <button class="create-button toggle-price {{ true == price.enabled ? 'disabled' : 'enabled' }}"
                                                        data-product="{{ product.id }}"
                                                        data-price="{{ price.id }}"
                                                        data-disable-title="{% trans %}disable_button{% endtrans %}"
                                                        data-enable-title="{% trans %}enable_button{% endtrans %}"
                                                        data-enabled="{{ true == price.enabled ? 'true' : 'false' }}">
                                                    {% if true == price.enabled %}
                                                        {% trans %}disable_button{% endtrans %}
                                                    {% else %}
                                                        {% trans %}enable_button{% endtrans %}
                                                    {% endif %}
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div class="price-list-control hide">
                                <svg height="20px" width="20px" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        viewBox="0 0 358.012 358.012" xml:space="preserve">
                                    <g>
                                        <path style="fill:#888a90;" d="M179.006,358.012c98.865,0,179.006-80.141,179.006-179.006S277.871,0,179.006,0S0,80.141,0,179.006
                                            S80.141,358.012,179.006,358.012z M84.795,234.54l-8.437-8.437L179,123.455l102.66,102.66l-8.437,8.437L179,140.335L84.795,234.54z
                                        "/>
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>{% trans %}enable_status_label{% endtrans %}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block modal %}

    <div
            style="display: none"
            id="translate"
            data-enable_status_label="{% trans %}enable_status_label{% endtrans %}"
            data-disable_status_label="{% trans %}disable_status_label{% endtrans %}"
    ></div>

    <div id="modal-product-price-create" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2>{% trans %}product_create_price_title{% endtrans %}</h2>
                <span id="close-modal-product-price-create" class="close">&times;</span>
            </div>
            <form id="price-form">
                <input type="hidden" id="product-id" name="product_id">
                <div class="form-group">
                    <label for="title">{% trans %}product_list_price_title_form_label{% endtrans %}</label>
                    <input type="text" id="title" name="title" class="input-field">
                </div>
                <div class="form-group">
                    <label for="amount">{% trans %}product_list_price_amount_form_label{% endtrans %}</label>
                    <input type="number" id="amount" name="amount" class="input-field">
                </div>
                <div class="form-group">
                    <label for="enabled">{% trans %}product_list_price_enabled_form_label{% endtrans %}</label>
                    <input type="checkbox" id="enabled" name="enabled" class="input-field">
                </div>
                <button type="submit" class="button">{% trans %}product_dave_product_price_title{% endtrans %}</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/product') }}
    <script src="{{ asset('build/js/modal.js') }}"></script>
{% endblock %}
