{% set Action = enum('\\App\\Domain\\User\\Enum\\Action') %}
{% set Role = enum('\\App\\Domain\\User\\Enum\\Role') %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% trans %}general_page_title{% endtrans %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
            <link rel="stylesheet" href="{{ asset('build/css/imports.css') }}">
        {% endblock %}
        <script type="importmap">
            {
                "imports": {
                    "Chart": "chart.js/auto",
                }
            }
        </script>
    </head>
    <body>
        <header>
            <div class="logo">
                <img src="{{ asset('build/image/svg/logo-lntu.svg') }}" alt="Lntu logo">
            </div>
            <div class="page-title">
                <h1>{% block header_title %}{% endblock %}</h1>
            </div>
            <nav class="navigation">
                <ul>
                    <li><a href="{{ path('barcode_info_page') }}">{% trans %}barcode_info_title{% endtrans %}</a></li>
                    {% if null != app.user and (Role.RoleAdmin.value in app.user.roles or Action.LocationList.value in app.user.accessList) %}
                        <li><a href="{{ path('location_list') }}">{% trans %}general_page_locations_menu_item{% endtrans %}</a></li>
                    {% endif %}
                    {% if null != app.user and (Role.RoleAdmin.value in app.user.roles or Action.ProductList.value in app.user.accessList) %}
                        <li><a href="{{ path('product_list') }}">{% trans %}general_page_products_menu_item{% endtrans %}</a></li>
                    {% endif %}
                    {% if null != app.user and (Role.RoleAdmin.value in app.user.roles or Action.EntranceControl.value in app.user.accessList) %}
                        <li><a href="{{ path('report_visit_general_report') }}">{% trans %}general_page_reports_menu_item{% endtrans %}</a></li>
                    {% endif %}
                    {% if null != app.user and Role.RoleAdmin.value in app.user.roles %}
                        <li><a href="{{ path('user_control_user_list') }}">{% trans %}general_page_users_menu_item{% endtrans %}</a></li>
                    {% endif %}
                </ul>
            </nav>


            {% if null != app.user %}
                <a href="{{ path('logout') }}"><button class="info-button profile-button">{% trans %}general_page_logout_button{% endtrans %}</button></a>
            {% else %}
                <a href="{{ path('login') }}"><button class="info-button profile-button">{% trans %}general_page_login_button{% endtrans %}</button></a>
            {% endif %}

        </header>

        {% block body %}{% endblock %}

        {% block modal %}{% endblock %}
    </body>
    <footer>
    </footer>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</html>
